@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');


.Navigation{
    margin: 15px;
    padding: 15px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
}
.Navi{
    text-decoration: none;
    color: black;
    margin-left: 15px;
    margin-right: 15px;
    text-decoration: none;
}
.active{
    border-bottom: solid 2px #A9E9FF;
    color: #A9E9FF;
}